@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --primary-color: #683191;
  --broker-color:#ED2994;
  --broker-light:#ED29941A;
  --broker-dark:#471b67;
  --secondary-color: #04519c;
  --tertiary-color: #e84455;
  --tertiary-dark:#626B15;
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-light:#FFFFFF33;
  --primary-dark:#00366B;
  --Insurers-bg:#007AFF26;
  --pink-color:#FFD8E4;
  --table-th-color:#272E2D;
  --light-grey:#76787B;
  --opacitys: 1;  
  --dark-body-color:#464255;
    --color-grey-2: #f3f2f7;
    --card-bg:#FDFDFD;
  
}
.btn.btn-primary.btn-secondary{
  background-color: var(--primary-dark);

}
.btn.btn-primary.btn-transperant{
  background-color: transparent;  color: #76787B;
}
.btn.btn-primary.btn-transperant:hover{
  color: var(--white-color);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Manrope", serif; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* color: var(--black-color); */
  color: var(--dark-body-color);
  background-color: var(--white-color);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Typography */
:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root h6 {
  color: var(--dark-body-color);
}
h1 {
  font-weight: 600;
font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
}

h2 {
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 0px;
}

h3 {
  font-weight: 500;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0px;
}

h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
}

h5 {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
}
h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0px;
}
.para-lead {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}
.para-semi-bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
}
.para-bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
}
.para-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
}
.para-small-semi-bold {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
}
.para-small-bold {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
}

button.btn  {
  border-radius: 18px;transition: all 0.4s ease;
}
button.big-btn-icon {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    padding: 18px 24.5px;
    border: none;
    border-radius: 18px;
}

button.small-btn {
  padding: 4px 16px 4px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.86px;
}
input[type=date], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea, input[type=datetime-local], input[type=file], select, select.form-control, .form-control {
  padding: 13px 15px;
  min-height: 52px;
  display: block;
  border: 1px solid #C1CBD4;
  background-color: var(--white-color);
  box-shadow: none;
  color: var(--black-color);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.86px;
    font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0px;
  border-radius: 18px;
    min-height: 50px;
    padding: 12px 24px;

}
textarea.form-control{
  min-height: 143px;
}
.form-control:focus{
  box-shadow: none;
  border: 1px solid var(--tertiary-color);
}
input[type=date]:focus, 
input[type=email]:focus,
 input[type=number]:focus,
  input[type=password]:focus, 
  input[type=search]:focus, 
  input[type=tel]:focus,
   input[type=text]:focus, 
   input[type=url]:focus, 
   select, textarea:focus,
    input[type=datetime-local]:focus,
     input[type=file]:focus, select:focus, 
     select.form-control:focus,
      .form-control:focus{
        border: 1px solid var(--tertiary-color);
      }
input[type=text]::-webkit-input-placeholder ,
input[type=password]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: #76787B;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0px;
}
input[type=text]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=email]::-moz-placeholder ,
.form-control::-moz-placeholder{ /* Firefox 19+ */
  color: #76787B;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.86px; 
}
input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #76787B;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.86px; 
}
input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=email]:-moz-placeholder ,
.form-control:-moz-placeholder  { /* Firefox 18- */
  color: #76787B;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.86px; 
}
.form-label{
color: #292C2F;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0px;
    margin-bottom: 15px;
}
.common-link{
font-size: 16px;
font-weight: 600;
line-height: 21.86px;
color: var(--tertiary-color);
position: relative;
transition: all 0.4s ease;
}
.common-link:hover{
  color: #e84455cc;
}
.btn.btn-primary svg {
    height: 18px;
    width: 18px;
}
.mx-w-320{
  max-width: 320px;
}
.common-link::after{
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--tertiary-color);
  bottom: 3px;
  left: 0;
}
.account-request-pannel .form-control{
  margin-bottom: 16px;
}
.dashboard-main-content{
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 32px;
  height: 100vh;
  display: table;
  width: 100%;

}
.dashboard-main-content .top-header h4{
font-size: 12px;
font-weight: 400;
line-height: 16.39px;
text-align: left;
}
.table-wrapper{
  background-color: var(--white-color);
  padding: 16px 16px;
  gap: 24px;
  border-radius: 12px;
  

}
.mt-16{
  margin-top: 16px;
}
.mt-24{
  margin-top: 24px;
}
.table-wrap td {
  border: none;    border-bottom: 1px solid #ECEAF3;    vertical-align: middle;
}
.table-wrap tbody tr:nth-child(odd) td {
    background-color: #FCFCFC;
}
.table-wrap th:first-child {
    border-radius: 24px 0 0 0;
}
.table-wrap th:last-child {
    border-radius: 0 24px 0 0;
}
.table-wrap th{
    vertical-align: middle;
    border-bottom: 1px solid #ECEAF3;
    background-color: #00366B1A;
    font-size: 14px;
    font-weight: 600;
    line-height: 21.86px;
    color: var(--table-th-color);
    padding: 17px 16px;

font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0px;

}
.table-wrap td{
  padding: 17px 16px;
  color: var(--table-th-color);
  font-size: 14px;
}
.table-wrap td.bold-font{
  color: var(--black-color);
}
.table-wrap .form-select{
  border: 1px solid var(--Couleurs-Border, #C1CBD4);
  background-color: transparent;
  color: #292C2F;
font-size: 14px;
font-weight: 600;
line-height: 21.86px;
padding: 0 16px;
border-radius: 4px;
appearance: none;
background-image: url('data:image/svg+xml,<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.294922 10.59L4.87492 5.99997L0.294922 1.40997L1.70492 -3.05176e-05L7.70492 5.99997L1.70492 12L0.294922 10.59Z" fill="%2376787B"/></svg>');
height: 40px !important;
min-height: auto;
background-size: 7px;
/* width: auto; */
padding-right: 25px;
border: none;
cursor: pointer;
    width: 150px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

font-weight: 400;
font-size: 16px;

line-height: 100%;
letter-spacing: 0px;


}
.table-wrap .form-select:focus{
  border: none;
}
.dashboard-main-content.insurers-dashboard .table-wrap th.select-drop {
  padding: 8px;
}
.table-wrap .form-select:focus{
  box-shadow: none;
}
.table-wrap td span.badges{
    border-radius: 60px;
    color: var(--table-th-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 21.86px;
    padding: 6px 16px 6px 51px;
    background-repeat: no-repeat;
    background-position: center left 18px;
    width: 100%;
    display: inherit;
    letter-spacing: 0.4px;
}
.table-wrap td span.badges.incomplete{
  background-color: #FF00000D;
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.25 4.8075L13.1925 3.75L9 7.9425L4.8075 3.75L3.75 4.8075L7.9425 9L3.75 13.1925L4.8075 14.25L9 10.0575L13.1925 14.25L14.25 13.1925L10.0575 9L14.25 4.8075Z" fill="%23FF0000"/></svg>');
}
.table-wrap td span.badges.to-be-completed
{
  background-color: #FFA8000D;
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.75 8.25H8.25V10.5H6V12H8.25V14.25H9.75V12H12V10.5H9.75V8.25ZM10.5 1.5H4.5C3.675 1.5 3 2.175 3 3V15C3 15.825 3.6675 16.5 4.4925 16.5H13.5C14.325 16.5 15 15.825 15 15V6L10.5 1.5ZM13.5 15H4.5V3H9.75V6.75H13.5V15Z" fill="%23FFA800"/></svg>');
}
.table-wrap td span.badges.checked
{
  background-color: #FFA8000D;
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.8164 10.6912H11.2239L11.0139 10.4887C11.7489 9.63366 12.1914 8.52366 12.1914 7.31616C12.1914 4.62366 10.0089 2.44116 7.31641 2.44116C4.62391 2.44116 2.44141 4.62366 2.44141 7.31616C2.44141 10.0087 4.62391 12.1912 7.31641 12.1912C8.52391 12.1912 9.63391 11.7487 10.4889 11.0137L10.6914 11.2237V11.8162L14.4414 15.5587L15.5589 14.4412L11.8164 10.6912ZM7.31641 10.6912C5.44891 10.6912 3.94141 9.18366 3.94141 7.31616C3.94141 5.44866 5.44891 3.94116 7.31641 3.94116C9.18391 3.94116 10.6914 5.44866 10.6914 7.31616C10.6914 9.18366 9.18391 10.6912 7.31641 10.6912Z" fill="%23FFA800"/></svg>');
}
.table-wrap table.table {
  width: 100%;
}
.mt-32{
  margin-top: 32px;
}
.mb-32{
  margin-bottom: 32px;
}
.float-left{
  float: left;
}
.form-select:focus{
  box-shadow: none;
  border: 1px solid var(--tertiary-color);
}
.link-wrap{
  color: #e84455;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.86px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  }
  .btn.btn-primary{
    background-color: var(--tertiary-color);
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    border: none;
    padding: 18px 26px;
    transition: all 0.4s ease;    min-width: 150px;
  }
  .btn.btn-primary:hover{
    opacity: 0.8;
  }
  .modal-footer{
    padding: 8px 24px;
    border-top: 1px solid var(--Couleurs-Border, #C1CBD4);
  }
  .modal-content{
    box-shadow: 0px 4px 10px 0px #00000026;
    background-color: var(--white-color);    border-radius: 24px;
  }
  .modal-title.h4{
    /* font-family: "Nunito"; */
    font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 21.82px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #76787B;

  }
  .modal-header .btn-close {
    padding: 9px 9px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,<svg width=\"14\" height=\"14\" viewBox=\"0 0 14 14\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z\" fill=\"%23e84455\"/></svg>");
    opacity: 1;
}
.modal-header .btn-close:hover {
  background-color: #ffadb6;
  box-shadow: none;
}
.modal-body h2 {
  font-weight: 600;
  color: var(--primary-dark);
}
.modal-header{
  border-bottom: 1px solid var(--Couleurs-Border, #C1CBD4);
  padding: 21px 24px;
}
.modal-body hr{
  max-width: 192px;
  opacity: 1;
  border-top-color:#C1CBD4 ;
}
.modal-body{
  padding: 24px 24px;
}
.dashboard-main-content{
  background-color: var(--Insurers-bg);
}
.relative{
  position: relative;
}
a.eye-icon {
  position: absolute;
    top: 47px;
  right: 10px;
}
a.eye-icon::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--tertiary-color);
  transform: rotate(132deg);
}
a.eye-icon svg path{
  fill: var(--tertiary-color);
}
a.eye-icon.show::after{
  display: none;
}
.table-wrap td span.badges.attente {
  background-color: #0000000D;
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0.5C3.875 0.5 0.5 3.875 0.5 8C0.5 12.125 3.875 15.5 8 15.5C12.125 15.5 15.5 12.125 15.5 8C15.5 3.875 12.125 0.5 8 0.5ZM8 14C4.6925 14 2 11.3075 2 8C2 4.6925 4.6925 2 8 2C11.3075 2 14 4.6925 14 8C14 11.3075 11.3075 14 8 14ZM8.375 4.25H7.25V8.75L11.15 11.15L11.75 10.175L8.375 8.15V4.25Z" fill="%2376787B"/></svg>');
}
.table-wrap td span.badges.verified{
  background-color: #00366B0D;
  background-image: url('data:image/svg+xml,<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.60039 8.92485L1.45039 5.77485L0.400391 6.82485L4.60039 11.0249L13.6004 2.02485L12.5504 0.974854L4.60039 8.92485Z" fill="%2300366B"/></svg>');
}

.table-wrap td span.badges.transfer {
  background-color: #FBE9E7;
  background-image: url("data:image/svg+xml,<svg width='14' height='14' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 12H19M19 12L14 7M19 12L14 17' stroke='%23FF9800' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}

.table-wrap td span.badges.formal_notice {
  background-color: #FFF8E1; /* Light yellow */
  background-image: url("data:image/svg+xml,<svg width='14' height='14' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12 9V13M12 17H12.01M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2Z' stroke='%23F9A825' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}
.table-wrap td span.badges.to_be_decided {
  background-color: #f7f4fa; /* Soft purple background */
  background-image: url("data:image/svg+xml,<svg width='14' height='14' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12 18H12.01M12 6C10.34 6 9 7.34 9 9H11C11 8.45 11.45 8 12 8C12.55 8 13 8.45 13 9C13 10.5 11 10.25 11 13H13C13 11.75 15 11.5 15 9C15 7.34 13.66 6 12 6ZM12 2C6.48 2 2 6.48 2 12S6.48 22 12 22 22 17.52 22 12 17.52 2 12 2Z' fill='%236C63FF'/></svg>");
}

.broker-dashboard .table-wrap td span.badges.verified{
  background-image: url('data:image/svg+xml,<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.60039 8.92485L1.45039 5.77485L0.400391 6.82485L4.60039 11.0249L13.6004 2.02485L12.5504 0.974854L4.60039 8.92485Z" fill="%23ED2994"/></svg>'); 
}
.table-wrap td span.badges.to-assign{
 background-color: #FF00000D; 
 background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.544 6.765L11.234 7.455L4.43902 14.25H3.74902V13.56L10.544 6.765ZM13.244 2.25C13.0565 2.25 12.8615 2.325 12.719 2.4675L11.3465 3.84L14.159 6.6525L15.5315 5.28C15.824 4.9875 15.824 4.515 15.5315 4.2225L13.7765 2.4675C13.6265 2.3175 13.439 2.25 13.244 2.25ZM10.544 4.6425L2.24902 12.9375V15.75H5.06152L13.3565 7.455L10.544 4.6425Z" fill="%23FFA800"/></svg>');
}
.account-request-pannel .canvas-footer {
  background-color: #FFFFFF;
}
.invalid-doc-modal .replace-document span {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.86px; 
  margin-left: 10px;
  color: #272E2D;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.form-row .form-col{
  padding: 0 10px;
  flex: 0 0 50%;
  max-width: 50%;
}
div#loader {
  text-align: center;
}
#loader svg {
  height: 250px;
  width: 250px;
  text-align: center;
}
a.sorting-icon.rotate svg {
  transform: rotate(180deg);
}
.form-select
{
    border: 1px solid #C1CBD4;
    border-radius: 18px;
    min-height: 52px;
}
.table-wrap th.select-drop select {
  width: auto;
  max-width: 100%;
}
.top-header .check-status .form-select,
.top-header .check-status .status{
  /* border: none !important; */
}
.active>.page-link, .page-link.active{
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}
.page-link{
  color: var(--tertiary-color);
}
.page-link:hover{
  color: var(--tertiary-color);
}
.page-item.active .page-link:hover{
  color: var(--white-color);
}
.form-label span{
  color: var(--tertiary-color);
}
.top-header a svg path {
  fill: var(--tertiary-color);
}

span.file-type-icon {
    height: 54px;
    width: 54px;
    background-color: #58CDFF;
    border-radius: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
span.doc-status {
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 4px;
}
span.doc-status.success{
    background-color: #00A389;
}
span.doc-status.warning{
    background-color: #FFBB54;
}
span.doc-status.danger{
    background-color: #FF5B5B;
}
.inner-tab-screen .tab-content{
  padding: 0;
}
span.back-screen {
    height: 54px;
    width: 54px;
    display: inline-flex;
    background-color: #e4f2ff;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
span.back-screen  svg {
    transform: rotate(90deg);
}
.check-document-panel .side-by-side-panel .left-panel{
    transform: translateX(200%);

    transition: all 0.4s ease;    z-index: -1;
    position: relative;

}
.show-reader .check-document-panel .side-by-side-panel .left-panel{
  transform: translateX(0);  z-index: 1;
}
.update-canvas .top-header{
  justify-content: end !important;
  gap: 15px;
}
.show-reader .update-canvas .top-header{
  justify-content: space-between !important;
}
.update-canvas{
  overflow-x: hidden;
}
.update-inside-tab .tab-content{
  padding: 0;
}
.update-canvas .inner-detail {
    position: relative;
}
button.btn.btn-primary.show-doc-reader {
    position: absolute;
    left: -110px;
    transform: rotate(-90deg);
    top: 40%;
    border-radius: 18px 18px 0 0;
    min-width: 158px;
    background-color: #00366b !important;
    z-index: 2;
}
button.btn.btn-primary.show-doc-reader:hover {
    background-color: #00366b !important;
    opacity: 1;
}
.custom-grid-card {
    background-color: #F3F2F7;
    border-radius: 24px;
    padding: 30px;
    /* border: 1px solid #F3F2F7; */
}

/* TimeLine Css */
.timeline {
    position: relative;
    margin-left: 6px;
    padding-left: 30px;
    border-left: 2px solid #ccc;
    margin-top: 20px;
}

.timeline-item {
  position: relative;
  margin-bottom: 33px;
}

.timeline-dot {
position: absolute;
    left: -39px;
    top: 0px;
    width: 16px;
    height: 16px;
    background: white;
    border: 3px solid #265582;
    border-radius: 50%;
}



.timeline-content p {
  margin: 8px 0 0;
  color: #a3a3a3;
  font-size: 14px;
  line-height: 1.6;
}
.last-event-card .react-datepicker-wrapper {
    width: auto;
}
.last-event-card select.form-select {
    height: 43px;
    font-size: 14px;    min-height: 40px;
}
.last-event-card .react-datepicker-wrapper input {
    width: auto;
    height: 43px;    
    /* width: 140px; */
    min-height: 43px;
}
.last-event-card .react-datepicker-wrapper input[type=text]::-webkit-input-placeholder{
color: #212836;
}
.last-event-card {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.timeline-item strong {
    color: #464255;
}

.form-grid-2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
  gap: 1rem 2rem; /* row and column gaps */
  align-items: start;
}
.last-event-card .btn.btn-primary ,
.last-msg-card .btn.btn-primary{

    padding: 14px 26px;

}
.dashboard-tab .file-type-icon svg {
    width: 17px;
    height: 17px;
}
.dashboard-tab span.file-type-icon{
      height: 35px;
    width: 35px;    border-radius: 14px;    margin-right: 10px;
}

.second-header {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  overflow: hidden;
  transition: 
    max-height 0.4s ease,
    opacity 0.4s ease,
    transform 0.4s ease,
    padding 0.3s ease;
  padding: 0 15px;
  margin-bottom: 0;
}

/* When visible */
.second-header.show {
  max-height: 500px; /* Set higher than your expected content height */
  opacity: 1;
  transform: translateY(0);
  padding: 15px;
}
.dropdown-part select.form-select {
    width: 100% !important;
}
.second-header > .check-status{
      flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: start !important;
}
.insurers-dashboard .d-flex.align-items-center.check-status,
.broker-dashboard .d-flex.align-items-center.check-status,
.broker-dashboard .d-flex.align-items-center.check-status,
.admin-dashboard .d-flex.align-items-center.check-status{
    flex-direction: row;
    align-items: center !important;
    flex-wrap: wrap;
}
.broker-dashboard .timeline-dot {

    border: 3px solid var(--broker-color);

}
.broker-dashboard .dashboard-tab span.file-type-icon {
    background-color: var(--broker-color);
}
.broker-dashboard span.back-screen{
      background-color: #fff4fa;
}
.broker-dashboard span.back-screen svg path{
  fill: var(--broker-color);
}
.numeric-graph {
    background-color: #FDFDFD;
    border-radius: 24px;
    padding: 25px;
    display: block;
    margin-bottom: 20px;    height: calc(100% - 20px);
}
/* .numeric-graph .graphic-line {
    margin-left: 55px;
} */
.numeric-graph p {
    margin-bottom: 0;
}
.numeric-graph .incr-dec-data {
    margin-top: 15px;    color: var(--primary-dark);
}
.second-header{
    font-weight: normal;
    font-size: 13px;
}
.detail-header.new-update-header {
    display: flex;
    flex-direction: column;      margin-bottom: 30px;    align-items: start;

}
/* .grid-view div {
    flex: 0 0 45%;
}
.grid-view div p.m-0 {
    flex: 1;
}
.grid-view div .status {
    flex: 1;
} */
.second-header{
  width: 100%;
}.grid-view {
    width: 100%;
}
.grid-view > div{
  margin-bottom: 10px;
}
.grid-view > div .status{
 width: 100%;       min-height: 45px;
    vertical-align: middle;
    display: inline-flex
;
    align-items: center;border-radius: 18px;
}.second-header select.form-select {
    font-size: 13px;
}
.grid-view p.m-0 {
    width: 100%;
   
}
.task-card {
    padding: 25px;
    background-color: #AB54DB;
    color: #FFFFFF;
    border-radius: 24px;margin-bottom: 20px;
    display: flex;
    align-items: center;min-height: 144px;
}
.task-card > .d-flex{
  width: 100%;
}
.dashboard-main-content.insurers-dashboard .task-card h2,
.dashboard-main-content.manager-dashboard .task-card h2{
  color: var(--white-color);
}
.task-icon {
    background-color: var(--white-color);
    height: 52px;
    width: 52px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
        background-size: 25px;
    background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.9908 5.10791C26.7542 4.84524 26.4229 4.68728 26.0699 4.66878C25.7168 4.65027 25.3709 4.77274 25.1081 5.00925L12.7148 16.1626L6.94277 10.3906C6.81978 10.2632 6.67265 10.1617 6.50998 10.0918C6.34731 10.0219 6.17235 9.98512 5.99531 9.98358C5.81827 9.98204 5.6427 10.0158 5.47884 10.0828C5.31497 10.1499 5.16611 10.2489 5.04091 10.3741C4.91572 10.4992 4.81672 10.6481 4.74968 10.812C4.68264 10.9758 4.6489 11.1514 4.65044 11.3285C4.65198 11.5055 4.68876 11.6804 4.75864 11.8431C4.82852 12.0058 4.93009 12.1529 5.05744 12.2759L11.7241 18.9426C11.9656 19.184 12.2905 19.3235 12.6319 19.3325C12.9732 19.3414 13.305 19.219 13.5588 18.9906L26.8921 6.99058C27.1548 6.75397 27.3127 6.42272 27.3312 6.06968C27.3498 5.71663 27.2273 5.37069 26.9908 5.10791Z" fill="%23464255"/><path d="M25.1085 13.0093L12.7152 24.1626L6.94321 18.3906C6.69174 18.1478 6.35494 18.0134 6.00534 18.0164C5.65575 18.0195 5.32133 18.1597 5.07412 18.4069C4.82691 18.6541 4.68668 18.9885 4.68364 19.3381C4.68061 19.6877 4.815 20.0245 5.05788 20.276L11.7245 26.9426C11.966 27.1841 12.291 27.3236 12.6323 27.3325C12.9737 27.3415 13.3054 27.2191 13.5592 26.9906L26.8925 14.9906C27.1473 14.752 27.2983 14.423 27.3131 14.0742C27.3279 13.7255 27.2054 13.3848 26.9718 13.1254C26.7383 12.866 26.4123 12.7086 26.0639 12.6868C25.7155 12.6651 25.3725 12.7809 25.1085 13.0093Z" fill="%23464255"/></svg>');
}
.task-card.completed-task{
    background-color: #AB54DB;
}
.task-card.planned-task{
    background-color: #00A389;
}
.task-card.coming-task{
    background-color: #FFBB54;
}
.task-card.late-task{
    background-color: #FF5B5B;
}

.task-card.completed-task .task-icon{
    background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.9908 5.10791C26.7542 4.84524 26.4229 4.68728 26.0699 4.66878C25.7168 4.65027 25.3709 4.77274 25.1081 5.00925L12.7148 16.1626L6.94277 10.3906C6.81978 10.2632 6.67265 10.1617 6.50998 10.0918C6.34731 10.0219 6.17235 9.98512 5.99531 9.98358C5.81827 9.98204 5.6427 10.0158 5.47884 10.0828C5.31497 10.1499 5.16611 10.2489 5.04091 10.3741C4.91572 10.4992 4.81672 10.6481 4.74968 10.812C4.68264 10.9758 4.6489 11.1514 4.65044 11.3285C4.65198 11.5055 4.68876 11.6804 4.75864 11.8431C4.82852 12.0058 4.93009 12.1529 5.05744 12.2759L11.7241 18.9426C11.9656 19.184 12.2905 19.3235 12.6319 19.3325C12.9732 19.3414 13.305 19.219 13.5588 18.9906L26.8921 6.99058C27.1548 6.75397 27.3127 6.42272 27.3312 6.06968C27.3498 5.71663 27.2273 5.37069 26.9908 5.10791Z" fill="%23464255"/><path d="M25.1085 13.0093L12.7152 24.1626L6.94321 18.3906C6.69174 18.1478 6.35494 18.0134 6.00534 18.0164C5.65575 18.0195 5.32133 18.1597 5.07412 18.4069C4.82691 18.6541 4.68668 18.9885 4.68364 19.3381C4.68061 19.6877 4.815 20.0245 5.05788 20.276L11.7245 26.9426C11.966 27.1841 12.291 27.3236 12.6323 27.3325C12.9737 27.3415 13.3054 27.2191 13.5592 26.9906L26.8925 14.9906C27.1473 14.752 27.2983 14.423 27.3131 14.0742C27.3279 13.7255 27.2054 13.3848 26.9718 13.1254C26.7383 12.866 26.4123 12.7086 26.0639 12.6868C25.7155 12.6651 25.3725 12.7809 25.1085 13.0093Z" fill="%23464255"/></svg>');
}
.task-card.planned-task .task-icon{
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M15.9997 1.33335C13.0989 1.33335 10.2632 2.19353 7.85132 3.80513C5.4394 5.41672 3.55953 7.70734 2.44945 10.3873C1.33936 13.0673 1.04891 16.0163 1.61483 18.8613C2.18075 21.7064 3.57761 24.3197 5.62878 26.3709C7.67995 28.4221 10.2933 29.8189 13.1384 30.3849C15.9834 30.9508 18.9324 30.6603 21.6124 29.5502C24.2924 28.4402 26.583 26.5603 28.1946 24.1484C29.8062 21.7365 30.6664 18.9008 30.6664 16C30.6618 12.1116 29.1151 8.38372 26.3655 5.63418C23.616 2.88464 19.8881 1.33793 15.9997 1.33335ZM15.9997 28C13.6263 28 11.3062 27.2962 9.33284 25.9776C7.35945 24.6591 5.82138 22.7849 4.91313 20.5922C4.00488 18.3995 3.76724 15.9867 4.23026 13.6589C4.69328 11.3312 5.83617 9.19296 7.5144 7.51473C9.19263 5.8365 11.3308 4.69361 13.6586 4.23059C15.9864 3.76757 18.3992 4.00521 20.5919 4.91346C22.7846 5.82171 24.6587 7.35978 25.9773 9.33317C27.2959 11.3066 27.9997 13.6266 27.9997 16C27.9962 19.1815 26.7307 22.2317 24.4811 24.4814C22.2314 26.7311 19.1812 27.9965 15.9997 28Z" fill="%23464255"/><path d="M21.7648 11.684L14.7061 18.1546L11.6088 15.0573C11.4858 14.93 11.3387 14.8284 11.176 14.7585C11.0133 14.6886 10.8384 14.6518 10.6613 14.6503C10.4843 14.6488 10.3087 14.6825 10.1449 14.7495C9.98099 14.8166 9.83212 14.9156 9.70693 15.0408C9.58174 15.166 9.48274 15.3148 9.41569 15.4787C9.34865 15.6426 9.31492 15.8181 9.31646 15.9952C9.318 16.1722 9.35478 16.3472 9.42466 16.5098C9.49453 16.6725 9.59611 16.8196 9.72346 16.9426L13.7235 20.9426C13.9664 21.1857 14.2939 21.3255 14.6374 21.3329C14.981 21.3404 15.3142 21.2149 15.5675 20.9826L23.5675 13.6493C23.8281 13.4103 23.9831 13.0775 23.9983 12.7241C24.0136 12.3708 23.8878 12.0259 23.6488 11.7653C23.4097 11.5047 23.077 11.3497 22.7236 11.3344C22.3703 11.3192 22.0254 11.4449 21.7648 11.684Z" fill="%23464255"/></svg>');
}
.task-card.coming-task .task-icon{
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M15.9997 1.33322C13.0989 1.33322 10.2632 2.1934 7.85132 3.805C5.4394 5.41659 3.55953 7.70721 2.44945 10.3872C1.33936 13.0672 1.04891 16.0162 1.61483 18.8612C2.18075 21.7063 3.57761 24.3196 5.62878 26.3708C7.67995 28.422 10.2933 29.8188 13.1384 30.3847C15.9834 30.9506 18.9324 30.6602 21.6124 29.5501C24.2924 28.44 26.583 26.5602 28.1946 24.1482C29.8062 21.7363 30.6664 18.9007 30.6664 15.9999C30.6618 12.1115 29.1151 8.38359 26.3655 5.63405C23.616 2.88451 19.8881 1.3378 15.9997 1.33322ZM15.9997 27.9999C13.6263 27.9999 11.3062 27.2961 9.33284 25.9775C7.35945 24.6589 5.82138 22.7848 4.91313 20.5921C4.00488 18.3994 3.76724 15.9866 4.23026 13.6588C4.69328 11.331 5.83617 9.19283 7.5144 7.5146C9.19263 5.83637 11.3308 4.69348 13.6586 4.23046C15.9864 3.76744 18.3992 4.00508 20.5919 4.91333C22.7846 5.82158 24.6587 7.35965 25.9773 9.33304C27.2959 11.3064 27.9997 13.6265 27.9997 15.9999C27.9958 19.1813 26.7303 22.2313 24.4807 24.4809C22.2311 26.7305 19.1811 27.996 15.9997 27.9999Z" fill="%23464255"/><path d="M16.0003 8.00001C15.6467 8.00001 15.3076 8.14048 15.0575 8.39053C14.8075 8.64058 14.667 8.97972 14.667 9.33334V18.6667C14.667 19.0203 14.8075 19.3594 15.0575 19.6095C15.3076 19.8595 15.6467 20 16.0003 20C16.354 20 16.6931 19.8595 16.9431 19.6095C17.1932 19.3594 17.3337 19.0203 17.3337 18.6667V9.33334C17.3337 8.97972 17.1932 8.64058 16.9431 8.39053C16.6931 8.14048 16.354 8.00001 16.0003 8.00001Z" fill="%23464255"/><path d="M16.0003 23.9999C16.7367 23.9999 17.3337 23.403 17.3337 22.6666C17.3337 21.9302 16.7367 21.3332 16.0003 21.3332C15.2639 21.3332 14.667 21.9302 14.667 22.6666C14.667 23.403 15.2639 23.9999 16.0003 23.9999Z" fill="%23464255"/></svg>');
}
.task-card.late-task .task-icon{
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M15.9997 1.33321C13.0989 1.33321 10.2632 2.19339 7.85132 3.80498C5.4394 5.41658 3.55953 7.7072 2.44945 10.3872C1.33936 13.0672 1.04891 16.0161 1.61483 18.8612C2.18075 21.7063 3.57761 24.3196 5.62878 26.3708C7.67995 28.4219 10.2933 29.8188 13.1384 30.3847C15.9834 30.9506 18.9324 30.6602 21.6124 29.5501C24.2924 28.44 26.583 26.5602 28.1946 24.1482C29.8062 21.7363 30.6664 18.9007 30.6664 15.9999C30.6618 12.1114 29.1151 8.38358 26.3655 5.63404C23.616 2.8845 19.8881 1.33779 15.9997 1.33321ZM15.9997 27.9999C13.6263 27.9999 11.3062 27.2961 9.33284 25.9775C7.35945 24.6589 5.82138 22.7848 4.91313 20.5921C4.00488 18.3994 3.76724 15.9866 4.23026 13.6588C4.69328 11.331 5.83617 9.19282 7.5144 7.51459C9.19263 5.83636 11.3308 4.69347 13.6586 4.23045C15.9864 3.76743 18.3992 4.00507 20.5919 4.91332C22.7846 5.82157 24.6587 7.35964 25.9773 9.33303C27.2959 11.3064 27.9997 13.6265 27.9997 15.9999C27.9958 19.1813 26.7303 22.2313 24.4807 24.4809C22.2311 26.7305 19.1811 27.996 15.9997 27.9999Z" fill="%23464255"/><path d="M18.9433 7.55344C18.1839 7.05351 17.3108 6.75286 16.4046 6.67923C15.4984 6.60559 14.5882 6.76134 13.758 7.13211C12.8218 7.54836 12.0291 8.23143 11.4792 9.09587C10.9292 9.96031 10.6463 10.9677 10.666 11.9921V12.0001C10.6671 12.3537 10.8086 12.6925 11.0594 12.9417C11.3101 13.191 11.6497 13.3305 12.0033 13.3294C12.357 13.3284 12.6957 13.1869 12.945 12.9361C13.1943 12.6853 13.3337 12.3457 13.3327 11.9921C13.3191 11.4931 13.4503 11.0009 13.7106 10.5749C13.9709 10.149 14.3491 9.80763 14.7993 9.59211C15.224 9.3921 15.6928 9.30424 16.161 9.33692C16.6292 9.3696 17.0813 9.52172 17.474 9.77878C17.8246 10.0106 18.1154 10.3221 18.3227 10.6877C18.53 11.0533 18.6479 11.4627 18.6669 11.8826C18.6859 12.3025 18.6054 12.7209 18.4319 13.1037C18.2584 13.4865 17.9969 13.8229 17.6687 14.0854C16.756 14.7825 16.0122 15.6761 15.4923 16.7001C14.9725 17.7241 14.6901 18.852 14.666 20.0001C14.6666 20.1752 14.7017 20.3485 14.7693 20.51C14.8369 20.6715 14.9356 20.8182 15.0598 20.9416C15.1841 21.0649 15.3314 21.1626 15.4934 21.2291C15.6554 21.2955 15.8289 21.3294 16.004 21.3288C16.1791 21.3282 16.3524 21.2931 16.5139 21.2255C16.6754 21.1579 16.8221 21.0592 16.9454 20.935C17.0688 20.8107 17.1665 20.6634 17.233 20.5014C17.2994 20.3394 17.3333 20.1659 17.3327 19.9908C17.3582 19.2435 17.5512 18.5115 17.8974 17.8488C18.2435 17.186 18.734 16.6094 19.3327 16.1614C19.9879 15.6361 20.5098 14.9634 20.8559 14.1982C21.202 13.4329 21.3624 12.5968 21.3242 11.7578C21.286 10.9188 21.0502 10.1008 20.636 9.37015C20.2218 8.63954 19.6409 8.01708 18.9407 7.55344H18.9433Z" fill="%23464255"/><path d="M16.0003 25.3335C16.7367 25.3335 17.3337 24.7365 17.3337 24.0001C17.3337 23.2637 16.7367 22.6668 16.0003 22.6668C15.2639 22.6668 14.667 23.2637 14.667 24.0001C14.667 24.7365 15.2639 25.3335 16.0003 25.3335Z" fill="%23464255"/></svg>');
}
.numeric-graph.nagative-stats .incr-dec-data{
  color: #FF5B5B;
}
.numeric-graph.nagative-stats .graphic-line svg path{
  stroke: #FF5B5B;
}
.numeric-graph.nagative-stats .graphic-line svg {
    transform: rotate(180deg);
}
.activity-card {
    background-color: #FDFDFD;
    border-radius: 24px;
    min-height: 200px;
}
ul.recharts-default-legend {
    top: -50px;
    position: relative;
}
.top-global-filter {
    background-color: #FDFDFD;
    padding: 20px;
    border-radius: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.top-global-filter input[type=text]::-webkit-input-placeholder, 
.top-global-filter input[type=password]::-webkit-input-placeholder, 
.top-global-filter input[type=email]::-webkit-input-placeholder, 
.top-global-filter .form-control::-webkit-input-placeholder {
color: var(--bs-body-color);

}
.filter-toggle svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.numeric-graph .graphic-line svg {
    /* width: 81px; */
    height: 60px;
}
.fold-unfold-link svg {
    height: 30px;
    width: 30px;
}
@media(max-width:1350px){
  .top-header > div:nth-child(2) {
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center;
    gap: 12px !important;
}
}
@media (max-width: 767px) {
  .second-header.show {
    max-height: 500px;
    overflow: scroll;
}
  .sm-select-full {
    flex-direction: column !important;    width: 100%;
    gap: 10px;
}
  .sm-select-full div{
    width: 100%;
  }
  a.fold-unfold-link.link-wrap {
    /* margin-right: 20px; */
}
.dropdown-part select.form-select {
 margin-bottom: 10px;
}
    .flex-1366-column {
    flex-direction: column !important;
  }
  ul.recharts-default-legend {
    top: -15px;
    position: relative;
} 
  .top-part select.form-select {
    width: 100% !important;
    display: block;
}
    .sm-fix {
      justify-content: center;
    }
  .sm-fix svg{
    flex: 0 0 20px;
  }
    .sm-fix span{
    flex: 0 0 160px;
  }
  .insurers-dashboard .d-flex.align-items-center.check-status, .broker-dashboard .d-flex.align-items-center.check-status, .broker-dashboard .d-flex.align-items-center.check-status, .admin-dashboard .d-flex.align-items-center.check-status {
/* 
    gap: 0; */
}
  .form-grid-2x2 {

    grid-template-columns: repeat(1, 1fr);

}
  .last-event-card select.form-select{
    width: 100% !important;
  }
  .last-event-card .react-datepicker-wrapper ,.last-event-card .react-datepicker-wrapper input{
    width: 100%;
}
  .custom-grid-card{
    padding: 20px;
  }
  h1 {

  font-size: 27px;
  line-height: 100%;

}

h2 {

  font-size: 20px;
  line-height: 100%;

}

h3 {

  font-size: 18px;
  line-height: 100%;

}

h4 {

  font-size: 16px;
  line-height: 100%;

}

h5 {
 
  font-size: 15px;
  line-height: 24px;

}
h6 {

  font-size: 14px;
  line-height: 23px;

}
  .check-document-panel .side-by-side-panel .left-panel{
    transform: translateX(0);
    transition: all 0.4s ease;    z-index: 1;
    position: relative;

}
  .btn.btn-primary {

    font-size: 15px;
   
        padding: 14px 20px;       min-width: auto;

}
  .detail-header * {
    /* width: 100% !important;
    text-align: center !important;
    margin: 0 0 5px 0; */

  }
  .new-update-header .top-part{
        flex-direction: column;
        width: 100%;
        gap: 10px;
  }
    .new-update-header .top-part select{
      width: 100%;
    }
  .form-row .form-col{
    padding: 0 10px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  button.big-btn-icon {
    font-size: 14px;
    font-weight: 600;
    line-height: 21.86px;
    padding: 9px 9.5px;
    border: none;
}
  h1 {
    font-size: 22px;
    line-height: 30px;
  }
  h2 {
    font-size: 20px;
    line-height: 28px;
  }
}
@media(max-width:991px){
  button.btn.btn-primary.show-doc-reader{
    display: none;
  }
  .offcanvas.account-request-pannel{
    z-index: 2999;
  }
  .dashboard-main-content{
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
  }
}
@media(min-width:992px){
  .dashboard-main-content{
    padding-left: 390px;
    transition: all 0.4s ease;
  }
  .sidebar-toggle .dashboard-main-content{
    padding-left: 80px;
   
  }

}
@media(max-width:1366px){


  .table-wrap {
    max-width: 950px;
    overflow-x: auto;
    scrollbar-width: thin;
}
.sidebar-toggle .table-wrap {
    max-width: 1200px;
}
.tab-content .table-wrap {
  max-width: 940px;
}
.sidebar-toggle .tab-content .table-wrap {
  max-width: 1190px;
}
}
@media(min-width:1200px){
  .role-label{
    min-height: 43px;
    margin-top: 10px;
  }
}
@media(max-width:1440px){
  .table-wrap th.select-drop.elips-dropdown select{
    width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sidebar-toggle .table-wrap th.select-drop.elips-dropdown select{
    width: 170px;
  }
}

@media(max-width:1400px){
.custom-grid-card{
  padding: 20px;
}
}

@media(min-width:767px){
  .check-document-panel .side-by-side-panel{    justify-content: center;}
.check-document-panel .side-by-side-panel .right-panel {
    max-width: 680px;
}
.check-document-panel .side-by-side-panel .left-panel {
    display: none;
}
.show-reader .check-document-panel .side-by-side-panel .left-panel {
    display: block;
}
}
@media (max-width: 1400px) {
  .numeric-graph .graphic-line svg {
    /* width: 81px; */
    height: 48px;
}
    .flex-1366-column {
    flex-direction: column !important;
  }

}